
/* Hero */
.community-hero {
  position: relative;
  width: 100%;
  height: 395px;
  background-image: url("/public/assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.community-hero__overlay {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.community-hero__content {
  max-width: 800px;
  color: #fff;
}

.community-hero__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.community-hero__subtitle {
  font-size: 1.05rem;
  color: #f1f5f9;
}


.cart-container {
    width: 80%;
    margin: 30px auto;
    font-family: sans-serif;
}

.cart-item {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 18px;
    margin-top: 20px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.cart-img {
    width: 200px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-info {
    flex: 1;
    margin-left: 20px;
}

.cart-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.cart-desc {
    margin: 6px 0;
    color: #666;
}

.cart-price {
    margin-top: 8px;
    font-size: 18px;
    color: #e60000;
    font-weight: bold;
}

.cart-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.btn-pay {
    background: #0d6efd;
    color: white;
}

.btn-remove {
    background: #dc3545;
    color: white;
}


.cart-container h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
}

.cart-container h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: #0d6efd;
    border-radius: 3px;
}