nav {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease;
  top: 0;
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navbar__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar__logo img {
  width: 28px;
  height: 28px;
}

.navbar__brand {
  font-weight: bold;
  font-size: 20px;
  background: var(--primary-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 35px;
}

.navbar__links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: var(--primary-link);
}
.navbar__btn {
  display: flex;
  gap: 20px;
}
.btn-login,
.btn-register {
  background: var(--primary-background);
  color: white;
  padding: 4px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s, box-shadow 0.3s;
  align-content: center;
}
.btn-register {
  background: var(--primary-background);
  color: white;
  padding: 4px 35px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-login:hover,
.btn-register:hover {
  transform: translateY(-2px);
  box-shadow: var(--backgorund-box-shadow);
}
