.container{
    max-width: 1200px;
    margin: 0;
    padding: 20px;
}


.main {
  flex: 1;
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.stats {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.course-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.course-table th, .course-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.course-table th {
  background: #f0f0f0;
}
